.top-bar {
    height: 68px;
    background: linear-gradient(75deg, rgba(106,133,182,0.5), rgba(186,200,224,0.5));
    font-family: 'Lato', sans-serif;
}

.total-budget-section {
    height: 250px;
    font-family: 'Lato', sans-serif;
}